
body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #feedfe;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #f8c291;
    color: rgb(133, 30, 1);
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.dropbtn:hover {
    background-color: #e67e22;
    transform: scale(1.05); 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1c40f;
    padding-left: 20px; 
}