body {
    background-color: azure;
}

.card {
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.2);
    max-width: 30vw;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 20vh;
}

.Garfield {
    color: #84604a;
    font-size: 20px;
    margin: 0%;
}

P {
    color: rgb(1, 36, 87);
    font-size: 16px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(236, 124, 109);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(237, 70, 3);
    margin: 2.5px;
}

button:hover, a:hover {
    opacity: 0.5;
}